@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');
.font_regular{font-weight: 400;}
.font_iregular{font-weight: 400; font-style: italic;}
.font_semibold{font-weight: 600;}
.font_isemibold{font-weight: 600; font-style: italic;}
.font_bold{font-weight: 700;}
body{
    min-height: 100vh;
}
a {
    color: black;
}
button{
    color: black;
}

body {
    margin: 0;
    font-family: 'Montserrat';
/*    background-color: #EFF8FD;*/
    
    background: linear-gradient(-45deg, #FFF5F5, #FFFFF5, #F8FFF5, #F5FFFE, #F6F5FF, #FFF5FD);
    background-size: 600% 600%;
    animation: gradient 30s ease infinite alternate;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
}
button{
    font-family: 'Montserrat';
}
.btn_default{
    border-radius: 5px;
    border: none;    
    background: rgba(255, 255, 255, 0.7); 
    transform: rotate3d(0, 1, 2, 1.5deg) scale(1.02); 
    box-shadow: 4px 4px 0px 1.5px black, 0px 0px 0px 1px lightgrey;
    cursor: pointer;
    transition: 0.3s ease-in-out;;
    -webkit-tap-highlight-color: transparent;
    padding: 10px 22px;
    font-size: 20px;
    color: black;
    animation: btn_default 4s ease-in-out 0.5s infinite alternate;
}
@keyframes btn_default {
    0% {background: rgba(255, 255, 255, 0.7); transform: rotate3d(0, 1, 2, 1.5deg) scale(1.02); box-shadow: 4px 4px 0px 1.5px black, inset 0px 0px 0px 1px lightgrey;}
    100% {background: rgba(255, 255, 255, 0.4); transform: rotate3d(0, 1, 2, -1.5deg) scale(1); box-shadow: -4px -4px 0px 1px black, inset 0px 0px 0px 1px lightgrey;}
}

.form_default{
    border-radius: 6px;
    border: 2px dashed lightgray;
    outline: none;
    transition: 0.5s;
}
.form_default:focus{
    box-shadow: 0px 0px 15px 2px lightgrey;
}
.form_default::placeholder{
    font-style: italic;
    color: rgba(0, 0, 0, .3);
}

.navbar_block{
    position: fixed;
    width: 100%;
    top: 0px;
}
.navbar{
    padding: 20px 0px;
    font-size: 18px;
    text-align: right;
}
h1{
    margin: 0;
}
.min_height_100vh{min-height: 100vh;}

.container{
    width: 1170px;
    margin: 0 auto;
}  
.SVG_simple{
    height: 43px;
    position: relative;
    top: 5px;
}
.usp_main_text{
    padding-top: 25vh;
    font-size: 50px;
}
.usp_action_button{
    font-size: 25px;
    padding: 15px 31px;
}
.usp_action_button_block{padding-top: 12vh;}
.decoration1{
    position: absolute;
    top: 382px;
    left: 349px;
    transform: rotate(-20deg);
    transition: 2s;
}
.opacity0{opacity: 0;}
.opacity1{opacity: 1;}


@media (max-width: 1200px){
    .container{max-width: 970px;}
    .usp_main_text{font-size: 40px;}
    .SVG_simple{ height: 38px;}
    .usp_action_button_block{padding-top: 10vh;}
    .usp_action_button{font-size: 25px;}
}
@media (max-width: 992px){
    .container{max-width: 750px;}
    .usp_main_text{font-size: 35px;}
    .SVG_simple{ height: 33px;}
    .usp_action_button_block{padding-top: 8vh;}
    .usp_action_button{font-size: 23px;}

}
@media (max-width: 767px){
    .container{max-width: 90%;}
    .usp_main_text{font-size: 30px;}
    .SVG_simple{ height: 29px;}
    .usp_action_button_block{padding-top: 7vh;}
    .usp_action_button{font-size: 20px;}

}