{% extends "base.html" %}

{% block head %}
    {% load static %} 
    <link href="{% static 'railway/css/index.css' %}" type="text/css" rel="stylesheet">
{% endblock %} 

{% block content %} 
    {% if request.user.is_authenticated %}
        <div class="container">
            <div class="padding_top width_btn margin_auto">
                <a href="{% url 'railway_creating_game' %}">
                    <button class="usp_action_button font_semibold btn_default w100">Создать стол</button>            
                </a>
            </div>
            <br>
            <div class="font_iregular width_btn margin_auto tacenter or">ИЛИ</div>
            <br>
            <div class="width_btn margin_auto">
                <form action="{% url 'railway_join_game' %}" class="font_semibold" method="get">
                    <input type="number" class="usp_action_button font_semibold winp minp form_default" name="game_id" id="enter_game_input" placeholder="Код игры">
                    <br>

                    <button type="submit" class="usp_action_button font_semibold btn_default w100" id="enter_game_btn">Войти с кодом</button>
                </form>
            </div>
            <br>
            <div class="font_iregular width_btn margin_auto tacenter or">ИЛИ</div>
            <br>
            <div class="width_btn margin_auto font_isemibold tacenter spis_stolov">
                Список доступных столов:
                <div id="available_games_list" class="font_regular">
                    
                </div>
            </div>
        </div>
    {% endif %}
 
<script type="text/javascript">
    var CSRF_TOKEN = '{{ csrf_token }}';
    var URL_JOIN_GAME = '{% url 'railway_join_game' %}';
    var URL_GET_GAMES = '{% url 'railway_get_games' %}';
</script>
<script src="{% static 'railway/js/index.js' %}"></script>
{% endblock content %}
