<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>mamgo</title>
    <link href="{% static 'railway/css/play.css' %}" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="game_field" class="dnone">      
        <!-- <img src="{% static 'railway/img/textures/scores.jpg' %}" class='scores block_center dblock' alt=""> -->
        <table class = 'block_center score_table'>
            <tr>
                <td class="scores_element" valign="middle" align="center">2</td>
                <td class="scores_element" valign="middle" align="center">3</td>
                <td class="scores_element" valign="middle" align="center">4</td>
                <td class="scores_element" valign="middle" align="center">5</td>
                <td class="scores_element" valign="middle" align="center">6</td>
                <td class="scores_element" valign="middle" align="center">7</td>
                <td class="scores_element" valign="middle" align="center">8</td>
                <td class="scores_element" valign="middle" align="center">9</td>
                <td class="scores_element" valign="middle" align="center">10</td>
                <td class="scores_element" valign="middle" align="center">11</td>
                <td class="scores_element" valign="middle" align="center">12</td>
            </tr>
            <tr>
                <td class="scores_element" valign="middle" align="center">4</td>
                <td class="scores_element" valign="middle" align="center">8</td>
                <td class="scores_element" valign="middle" align="center">12</td>
                <td class="scores_element" valign="middle" align="center">16</td>
                <td class="scores_element" valign="middle" align="center">20</td>
                <td class="scores_element" valign="middle" align="center">24</td>
                <td class="scores_element" valign="middle" align="center">28</td>
                <td class="scores_element" valign="middle" align="center">32</td>
                <td class="scores_element" valign="middle" align="center">36</td>
                <td class="scores_element" valign="middle" align="center">40</td>
                <td class="scores_element" valign="middle" align="center">44</td>

            </tr>
        </table>
    <br>
    <div id="fone" class="cells_container block_center">
        <div id='cross_list'>
        </div>
        {% for i in range %}
            <div class="m0">
            {% for j in range %}
                <img src="{% static 'railway/img/textures/'%}err.png" id="cell{{ j }}{{ i }}" class="transition route_element" alt="">
            {% endfor %}
            </div>
        {% endfor %}

    </div>
    </div>
    <br>
    <table class = 'block_center score_table'>
        <tr>
            <td class="scores_element" valign="middle" align="center">Exits: </td>
            <td class="scores_element" valign="middle" align="center">Rail: </td>
            <td class="scores_element" valign="middle" align="center">Road: </td>
            <td class="scores_element" valign="middle" align="center">Center: </td>
            <td class="scores_element" valign="middle" align="center">Minus: </td>
            <td class="scores_element" valign="middle" align="center">Score: </td>
        </tr>
        <tr>
            <td class="scores_element" valign="middle" align="center" id="exit_score">0</td>
            <td class="scores_element" valign="middle" align="center" id="rail_score">0</td>
            <td class="scores_element" valign="middle" align="center" id="road_score">0</td>
            <td class="scores_element" valign="middle" align="center" id="center_score">0</td>
            <td class="scores_element" valign="middle" align="center" id="minus_score">0</td>
            <td class="scores_element" valign="middle" align="center" id="score">0</td>
        </tr>
    </table>
    <br>
    <div id="tales_block" class="dnone"> 
        <div class="block_center dblock w320">
            <img id="route0" class="img_route trans hw57 mlrv" alt="">
            <img id="route1" class="img_route trans hw57 mlrv" alt="">
            <img id="route2" class="img_route trans hw57 mlrv" alt="">
            <img id="route3" class="img_route trans hw57 mlrv" alt="">
        </div>
        <br>
        <div class="block_center dblock w320">
            <img id="route4" src="{% static 'railway/img/textures/9.png' %}" class="img_route trans hwn mlrn" alt="">
            <img id="route5" src="{% static 'railway/img/textures/10.png' %}" class="img_route trans hwn mlrn" alt="">
            <img id="route6" src="{% static 'railway/img/textures/11.png' %}" class="img_route trans hwn mlrn" alt="">
            <img id="route7" src="{% static 'railway/img/textures/12.png' %}" class="img_route trans hwn mlrn" alt="">
            <img id="route8" src="{% static 'railway/img/textures/13.png' %}" class="img_route trans hwn mlrn" alt="">
            <img id="route9" src="{% static 'railway/img/textures/14.png' %}" class="img_route trans hwn mlrn" alt="">
        </div>
    <br>
    </div>
    <button id="send_move" class="btn_next_phase block_center dblock">Загрузка...</button>
    <br>
    <div id="status" class="block_center w320"></div>

<script type="text/javascript">
    var GAME_ID = {{ game_id }};
    var CSRF_TOKEN = '{{ csrf_token }}';
    var username = '{{ user.username }}';
    var URL_CHECK_GAME_STATUS = '{% url 'railway_check_game_status' game_id %}';
    var URL_HOME = '{% url 'home' %}';
    var URL_SEND_MOVE = '{% url 'railway_send_move' %}';
    var URL_GET_TILES = '{% url 'railway_get_tiles' %}'
    var URL_TEXTURES = '{% static 'railway/img/textures/' %}'
    var URL_GET_PLAYING_FIELD = '{% url 'railway_get_game_field' %}'
    var URL_GET_STATUS = '{% url 'railway_get_status' %}'
    var URL_GET_WINNERS = '{% url 'railway_get_winners' %}'
    var URL_GET_STAGE_AND_SCORES = '{% url 'railway_get_stage_and_scores' %}'
    var URL_START_GAME = '{% url 'railway_start_game' %}'
    var URL_CROSS = '{% static 'railway/img/textures/'%}err.png'

</script>
<script src="{% static 'railway/js/play.js' %}"></script>
</body>
</html>