<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% load static %}
        <title>Настолки</title>
    {% endblock head %}
    <link href="{% static 'reg_nav/css/base.css' %}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar_block">
        <div class="container navbar">
                <a href="{% url 'home' %}">Главная</a>    &nbsp;&nbsp;                
                <a href="{% url 'railway' %}">RailRoad</a>&nbsp;&nbsp;                
                {% if request.user.is_authenticated %}
                    <a href="{% url 'account' %}?username={{ user.username }}">{{ user.username }}</a> | <a href="{% url 'logout' %}">Выход</a></h1>
                {% else %}
                <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Вход</a>
                {% endif %}
        </div>   
    </nav>
    {% block content %}
    <div class="container min_height_100vh">
        <div class="font_bold usp_main_text">Настольные игры <br> никогда не были <br> настолько простыми.
        </div>
        <div class="usp_action_button_block font_semibold">
            <a href="{% url 'railway' %}">
                <button class="btn_default usp_action_button font_semibold">Выбрать игру</button>            
            </a>
            
        </div>
        <br><br><br>
    </div>
    {% endblock content %}
</body>
</html>