<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% load static %}
        <title>Title</title>
    {% endblock head %}
    <link href="{% static 'reg_nav/css/base.css' %}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar_block">
        <div class="container navbar">
            <!-- Главная -->
            <!-- Игры -->
            <!-- Репорт -->
            {% if request.user.is_authenticated %}
                <a href="{% url 'account' %}?username={{ user.username }}">{{ user.username }}</a> | <a href="{% url 'logout' %}">Выход</a></h1>
            {% else %}
            <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Вход</a>
            {% endif %}
        </div>   
    </nav>
    {% block content %}
    <div class="container min_height_100vh">
        <div class="font_bold usp_main_text">Настольные игры <br> никогда не были <br> настолько простыми.
        </div>
        <div class="usp_action_button_block font_semibold">
            <a id="btn" class="usp_action_button"  href="{% url 'railway' %}">Выбрать игру</a>
            
        </div>
        <br><br><br>
    </div>
    {% endblock content %}
</body>
</html>