#enter_game_input{
	background: transparent;
    font-size: 16px;
}
#enter_game_input : active{
    outline: none;
}
#enter_game_btn{
}
.width_btn{
	width: 270px;
}
.usp_action_button {
	background: transparent;
}
.btn_game_list_element{
	padding: 20px;
	background: transparent;
	font-size: 22px;
	border: 2px dashed rgba(0, 0, 0, .2);
	border-radius: 5px;
	cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.padding_top {
    padding-top: 12vh;
}
.or{font-size: 22px;}
.spis_stolov{font-size: 25px;}
.tacenter{text-align: center;}
.minp{margin-bottom: 20px}
.winp{width: 76%}
.w100{width: 100%;}
.margin_auto{
	margin-left: auto;
	margin-right: auto;
}
