.birouteroll0{transform: rotate(0deg);   -webkit-appearance: none; -webkit-tap-highlight-color: transparent;}
.birouteroll1{transform: rotate(90deg);  -webkit-appearance: none; -webkit-tap-highlight-color: transparent;}
.birouteroll2{transform: rotate(180deg); -webkit-appearance: none; -webkit-tap-highlight-color: transparent;}
.birouteroll3{transform: rotate(270deg); -webkit-appearance: none; -webkit-tap-highlight-color: transparent;}
    
.biroute0{background:no-repeat center/100%  url("../img/textures/0.png");  opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute1{background:no-repeat center/100%  url("../img/textures/1.png");  opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute2{background:no-repeat center/100%  url("../img/textures/2.png");  opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute3{background:no-repeat center/100%  url("../img/textures/3.png");  opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute4{background:no-repeat center/100%  url("../img/textures/4.png");  opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute5{background:no-repeat center/100%  url("../img/textures/5.png");  opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute6{background:no-repeat center/100%  url("../img/textures/6.png");  opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute7{background:no-repeat center/100%  url("../img/textures/7.png");  opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute8{background:no-repeat center/100%  url("../img/textures/8.png");  opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute9{background:no-repeat center/100%  url("../img/textures/9.png");  opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute10{background:no-repeat center/100% url("../img/textures/10.png"); opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute11{background:no-repeat center/100% url("../img/textures/11.png"); opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute12{background:no-repeat center/100% url("../img/textures/12.png"); opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute13{background:no-repeat center/100% url("../img/textures/13.png"); opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute14{background:no-repeat center/100% url("../img/textures/14.png"); opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute15{background:no-repeat center/100% url("../img/textures/15.png"); opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
.biroute17{background:no-repeat center/100% url("../img/textures/17.png"); opacity: 1; animation: birouteanim 0.3s ease-in-out 0s; cursor: pointer;}
@keyframes birouteanim{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.tile_deleting_class{
    opacity: 0; 
    animation: tile_deleting_class_anim 0.5s ease-in-out 0s;
}
@keyframes tile_deleting_class_anim{
    0% { opacity: 1; }
    50% { opacity: 0.5; box-shadow: 0px 0px 3px 3px black;}
    100% { opacity: 0;}
}
.tile_cant_return{
    animation: tile_cant_return_anim 0.3s ease-in-out 0s;
}
@keyframes tile_cant_return_anim{
    0% { box-shadow: inset 0px 0px 60px 0px #ad0101;}
    100% { box-shadow: none; opacity: 0;}
}
.bck1{background: no-repeat center/100% url("../img/fones/table_fone_1.jpg");}
.bck2{background: no-repeat center/100% url("../img/fones/table_fone_2.jpg");}
.bck3{background: no-repeat center/100% url("../img/fones/table_fone_3.jpg");}
.bck4{background: no-repeat center/100% url("../img/fones/table_fone_4.jpg");}
.bck5{background: no-repeat center/100% url("../img/fones/table_fone_5.jpg");}
.bck6{background: no-repeat center/100% url("../img/fones/table_fone_6.jpg");}
.bck7{background: no-repeat center/100% url("../img/fones/table_fone_7.jpg");}
.bck8{background: no-repeat center/100% url("../img/fones/table_fone_8.jpg");}

body{
    margin: 0;
    font-family: 'Montserrat';
    background-color: #EFF8FD;
}

#game{
    padding-top: 90px;    
}
#send_move{
    margin-left: 110px;
    font-size: 20px;
}
.display_flex{display: flex;}
.display_flex_50{flex: 0 1 50%;  padding: 0px 20px;}
.mt60px{margin-top: 60px;}
.m0{font-size: 0px;}
/*.route_element{
    height: 78.5px;
    width: 78.5px;
}*/
#game_field{
    box-shadow: 0px 0px 21px -10px grey;
    width: 549.5px;
    animation: game_field_anim 5s ease-in-out 0s infinite alternate;
}
@keyframes game_field_anim{
    0% {box-shadow: 0px 0px 21px -10px grey;}
    33% {box-shadow: 0px 0px 21px -10px red;}
    66% {box-shadow: 0px 0px 21px -10px green;}
    100% {box-shadow: 0px 0px 21px -10px blue;}
}
#cross_list{
    position: relative;
    width: 1px;
    height: 1px;
    z-index: 10;
    pointer-events: none;
}
.warning{
    animation: warning_anim 0.3s ease-in-out 0s infinite alternate;
}
@keyframes warning_anim{
    0% {color: rgba(255, 100, 100, 0.5);}
    100% {color: rgba(255, 100, 100, 1);}
}
.cross{
    position: absolute;
    z-index: 10;
    pointer-events: none;
    animation: place_cross 0.3s ease-in 0s;
}
@keyframes place_cross {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.old_placed{
    filter: contrast(0);
    cursor: default;
}
.svg_score{
    width: 100%;
    height: 70%;
}



.railway_table_element_can_place{background:rgba(255, 255, 255, .8); transition: 0.1s;}
.railway_table_element_can_place:hover{background:rgba(0, 0, 0, .1); transition: 0.1s; cursor:pointer;}
.transition{transition: 0.3s ease-in-out;}

.btn_next_phase{
    padding: 10px 30px;
    border: none;
    transition: 0.5s;
}
.status_font{
    font-size: 20px;
    font-weight: 600; 
}

.dblock{display:block;}
.dnone{display:none;}


.scores_element{
    width: 70px;
    height: 25px;
    font-size: 20px;
}
.scores_element_plus{
    color: #c20a0a;
    font-size: 15px;
}
.block_center{
    margin-left: auto;
    margin-right: auto;
}
.block_right{margin-left: auto;}
.block_left{margin-right: auto;}
.w320{width: 320px;}
.wn{width: 242px;}
.dinline{display: inline;}


.tile_hwm{height: 85px;width: 85px;margin: 0px 10px}
.spec_tile_hwm{height: 85px;width: 85px;margin: 0px 10px}
.mlrv{margin: 0 4px;}
.mlrn{margin: 0px 3px;}

.img_route{
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.7); 
    transform: rotate3d(0, 1, 2, 1.5deg) scale(1.02); 
    box-shadow: 4px 4px 0px 1.5px black, 0px 0px 0px 1px lightgrey;
    cursor: pointer;
    transition: 0.3s ease-in-out;;
    -webkit-tap-highlight-color: transparent;
    animation: img_route_anim_stand 0.3s ease-in 0s;
    animation: img_route_anim 4s ease-in-out 0.5s infinite alternate;
}
@keyframes img_route_anim_stand{
    0% {background: rgba(255, 255, 255, 0.7); box-shadow: 5px 5px 0px 0px black, 3px 3px 21px 3px lightslategrey; transform: rotate3d(0, 1, 1, 8deg) scale(1.15);}
    100% {background: rgba(255, 255, 255, 0.7); transform: rotate3d(0, 1, 2, 1.5deg) scale(1.02); box-shadow: 4px 4px 0px 1.5px black, 0px 0px 0px 1px lightgrey;}
}
@keyframes img_route_anim {
    0% {background: rgba(255, 255, 255, 0.7); transform: rotate3d(0, 1, 2, 1.5deg) scale(1.02); box-shadow: 4px 4px 0px 1.5px black, 0px 0px 0px 1px lightgrey;}
    100% {background: rgba(255, 255, 255, 0.4); transform: rotate3d(0, 1, 2, -1.5deg) scale(1); box-shadow: -4px -4px 0px 1px black, 0px 0px 0px 1px lightgrey;}
}
.img_route_used{
    filter: brightness(0.1); box-shadow: inset 3px 3px 10px 2.5px black;
    animation: none;
}
.img_route_cant_be_used{
    filter: contrast(0) brightness(1.5);
    animation: none;
    cursor: not-allowed;
}
.img_route_selected{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px 0px 0px black, 3px 3px 21px 3px lightslategrey;
    transform: rotate3d(0, 1, 1, 8deg) scale(1.15);
    animation: none;
}
.spec_tiles_block{ padding-left: 53px; }

@media (max-width: 1062px){
    #game_field{
        width: 406px;
    }
    .tile_hwm {height: 60px;width: 60px;margin: 0px 8px;}
    .spec_tile_hwm{height: 60px;width: 60px;margin: 0px 8px}
    .spec_tiles_block{ padding-left: 40px; }
    .scores_element {
        width: 70px;
        height: 25px;
        font-size: 18px;
    }
    #send_move {
        margin-left: 55px;
        font-size: 18px;
    }
    @keyframes img_route_anim_stand{
        0% {background: rgba(255, 255, 255, 0.7); box-shadow: 5px 5px 0px 0px black, 3px 3px 21px 3px lightslategrey; transform: rotate3d(0, 1, 1, 8deg) scale(1.15);}
        100% {background: rgba(255, 255, 255, 0.7); transform: rotate3d(0, 1, 2, 1.5deg) scale(1.02); box-shadow: 4px 4px 0px 1.5px black, 0px 0px 0px 1px lightgrey;}
    }
    @keyframes img_route_anim {
        0% {background: rgba(255, 255, 255, 0.7); transform: rotate3d(0, 1, 2, 1.5deg) scale(1.02); box-shadow: 4px 4px 0px 1.5px black, 0px 0px 0px 1px lightgrey;}
        100% {background: rgba(255, 255, 255, 0.4); transform: rotate3d(0, 1, 2, -1.5deg) scale(1); box-shadow: -4px -4px 0px 1px black, 0px 0px 0px 1px lightgrey;}
    }

}
.invisible_from_767{display: block;}
@media (max-width: 767px){
    .block_right{margin-left: auto; margin-right: auto;}
    .block_left{margin-right: auto; margin-left: auto;}
    .display_flex{display: block; width: 100%}
    .display_flex_50{flex: none; padding: 0;}
    #game_field{
        width: 100%;
    }
    .scores_element {
        width: 70px;
        height: 20px;
    }
    .tiles_inner{
        margin-left: auto;
        margin-right: auto;
        width: 320px;
    }
    .spec_tiles_block {
        padding-left: 0px;
    }
    .spec_tile_hwm {
        height: 40px;
        width: 40px;
        margin: 0px 4px;
    }
    .invisible_from_767{display: none;}
    #game {
        padding-top: 60px;
    }
    #send_move {
        margin-left: auto;
        margin-right: auto;
    }
}
