<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Игра</title>
    <link href="{% static 'ttt/css/style.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
  {{status_dlya_igroka}}
    <br>
  Статус игры: <span id="game_status">Ожидание игроков...</span>
  <br>
  Игроки: <span id="count_gamers">{{ user.username }}</span>
  <div id="playing_field" class="dnone">
      <br>
      <br>
      <table class="for_table">
          <tr>
          <td id="cell1" onclick="send_move(1);" class="hw100 playing_field_element ttt_element" valign="middle" align="center">X</td>
          <td id="cell2" onclick="send_move(2);" class="hw100 playing_field_element c_tb_cell ttt_element" valign="middle" align="center">X</td>
          <td id="cell3" onclick="send_move(3);" class="hw100 playing_field_element ttt_element" valign="middle" align="center">X</td>
        </tr>
          <tr>
          <td id="cell4" onclick="send_move(4);" class="hw100 playing_field_element lr_m_cell ttt_element" valign="middle" align="center">X</td>
          <td id="cell5" onclick="send_move(5);" class="hw100 playing_field_element c_m_cell ttt_element" valign="middle" align="center">X</td>
          <td id="cell6" onclick="send_move(6);" class="hw100 playing_field_element lr_m_cell ttt_element" valign="middle" align="center">X</td>
        </tr>
          <tr>
          <td id="cell7" onclick="send_move(7);" class="hw100 playing_field_element ttt_element" valign="middle" align="center">X</td>
          <td id="cell8" onclick="send_move(8);" class="hw100 playing_field_element c_tb_cell ttt_element" valign="middle" align="center">X</td>
          <td id="cell9" onclick="send_move(9);" class="hw100 playing_field_element ttt_element" valign="middle" align="center">X</td>
        </tr>
      </table>
      <br><br>
      <h1 id="winner"></h1>
  </div>
  <script type="text/javascript">
    var url_check_game_status = '{% url 'ttt_check_game_status' game_id %}';
    var url_home = '{% url 'home' %}';
    var game_id = {{game_id}};
    var url_send_move = '{% url 'ttt_send_move' %}';
    var csrf_token = '{{ csrf_token }}';
    var username = '{{ user.username }}';
  </script>
  <script src="{% static 'ttt/js/script.js' %}"></script>

</body>
</html>